.HomePageNavBar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;

}

.logo {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 20%;
}

.Profile {
    display: flex;
    gap: 20px;
    align-items: baseline;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.SearchBar {
    display: flex;
    align-items: center;
    text-align: center;
    width: 30%;
    position: relative;
}

.SearchBar input {
    width: 100%;

}

.ThemeChangeButton {
    width: 50px;
    height: 50px;
    border: 1px solid white;

    border-radius: 100%;
    background: #000;
}

.ThemeChangeButton:focus {
    animation: pulsate 1s infinite;

}

.HomePageMainBody {
    overflow-y: auto;

    width: 100%;
    height: 100vh;
    gap: 25px;
    display: flex;
    justify-content: space-around;
}

.BodySectionOne {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    overflow-y: auto;


}





@keyframes pulsate {
    0% {
        box-shadow: 0 0 10px #7a83ff;
    }

    50% {
        box-shadow: 0 0 15px #3467f5;
    }

    100% {
        box-shadow: 0 0 10px #6171fd;
    }
}

.Buttons:focus {
    animation: pulsate 1s infinite;
}





.BodySectionTwo {

    display: flex;
    width: 70%;
}



