.Form-header {
    width: 100%;

}

.AddExpense-main {
    width: 100%;

}

.Form-Main {
    width: 50%;
}


.Form-Details input {
    border-radius: 10px;

    width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    width: 50%;
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.Added-Exspense {
    padding-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.Added-Exspense button {
    height: 50px;
}


.date-amount {
    width: 100%;
}

.date-amount input {
    width: 50%;

}

.Expense-id-amt {
    width: 100%;
    text-align: left;

    padding-top: 5px;

}

.Expense-id {
    width: 80%;
}

.expense-amount {
    width: 20%;
}

.Expense-Category{
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    
}
#Expense-Type{
    width: 50%;
    text-align: center;


    
    

}