.Main-Body {
    display: flex;
    width: 100%;

    justify-content: space-around;
    overflow: hidden;


}

.Menu-Body {
    width: 70%;
    display: flex;
    
    align-items: center;
    overflow: hidden;
}
.Body{
    width: 100%;
    height: 80%;
    border-radius: 12px;
    
}
.Setting-menu {
    align-items: center;

    width: 20%;
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
    gap: 2rem;
}

.Setting-menu button {
    background-color: white;
    width: 100%;
    height: 3rem;
    overflow: hidden;
}